body{
  font-family: sans-serif;
}
h1, h2{
  text-align: center;
}
h2{
  margin: 0;
  font-size: 1.1rem;
}
ul{
  margin: 0;
  padding: 0;
}
li{
  padding: 0;
  list-style-type: none;
}
.platform{
  margin: 1em 0;
  display: flex;
  align-items: center;
}
li img, li .no-icon{
  margin-right: 1em;
}
.no-icon{
  width: 32px;
  height: 32px;
}
.code{
  font-family: monospace;
  font-size: 1.2em;
}
a{
  color: #444;
  font-size: 1.5em;
}
main{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
section{
  margin: 1em;
  padding: 1em;
}
.tags{
  display: flex;
}
.tag{
  margin-left: 0.5em;
  color: white;
  flex: 0 0 auto;
  background-color: #ccc;
  border-radius: 3px;
  padding: 0.2em 0.5em;
}
