body{
  font-family: sans-serif;
}
h1, h2{
  text-align: center;
}
h2{
  margin: 0;
  font-size: 1.1rem;
}
ul{
  margin: 0;
  padding: 0;
}
li{
  padding: 0;
  margin: 1em 0;
  list-style-type: none;
  display: flex;
  align-items: center;
}
li img{
  margin-right: 1em;
}
.code{
  font-family: monospace;
  font-size: 1.2em;
}
a{
  color: #444;
  font-size: 1.5em;
}
main{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
section{
  margin: 1em;
  padding: 1em;
}
