<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>hashtag hub</title>
  <link rel="shortcut icon" href="${base}favicon.ico" type="image/x-icon"/>
  <style type="text/css">
    body{
      font-family: sans-serif;
      font-size: 1.2em;
    }
    main, footer{
      max-width: 40em;
      margin: 3em auto;
    }
    a{
      color: #222;
    }
    .code{
      font-family: monospace;
      font-size: 1.4em;
    }
    footer{
      text-align: center;
    }
  </style>
</head>
<body>
  <main>
    <h1><span class="code">#hashtag</span> hub</h1>
    <p>The hashtag hub is a web service to get links to <span class="code">#hashtag</span> pages on different web platforms. The main purpose of this tool is to be used on Wikidata as the <a href="https://www.wikidata.org/wiki/Property:P1630">'formatter URL' (P1630)</a> value of <a href="https://www.wikidata.org/wiki/Property:P2572">'hashtag' (P2572)</a>, without having to systematically link to a unique centralized platform, hashtags being, most of the time, not bound to a single platform.</p>

    <h2>Example</h2>
    <p>
      <a href="/Wikidata">Find platforms' <span class="code">#Wikidata</span> pages</a>
    </p>
  </main>
  <footer>
    <a href="https://github.com/maxlath/hashtags-hub">Code</a>
    -
    <a href="https://github.com/maxlath/hashtags-hub/issues">Issues</a>
  </footer>
  <script type="text/javascript">
    if (document.location.hash !== '') {
      document.location.href = document.location.href.replace('/#', '/')
    }
  </script>
</body>
</html>
